@import url('https://fonts.cdnfonts.com/css/public-pixel');

@font-face {
    font-family: 'Emulogic';
    src: url('fonts/Emulogic-zrEw.ttf');
}

.root {
    -fx-font-family: Emulogic;
    -fx-background-color: #141414;
}

.label {
    -fx-text-fill: white;
    -fx-font-size: 22;
}

.button {
    -fx-background-color: #f5c116;
    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-border-radius: 14;
    -fx-background-radius: 14;
}

.button:hover {
    -fx-background-color: #cfa416;
}

.button:pressed {
    -fx-background-color: #a27c00;
}

.text-field {
    -fx-border-color: #3498db;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 12;
    -fx-font-size: 14;
}

.table-view {
    -fx-background-color: #f4f4f4;
    -fx-border-color: grey;
    -fx-border-width: 5;
}

.table-view .column-header {
    -fx-background-color: #0072b1;
    -fx-text-fill: white;
}

.table-view .label {
    -fx-font-size: 12;
}

.table-view .table-column {
    -fx-alignment: CENTER;
    -fx-font-size: 13;
}

#head1 {
    -fx-text-fill: #00ffff;
    -fx-font-size: 25;
    -fx-font-weight: bold;
}

#head2 {
    -fx-text-fill: yellow;
    -fx-font-size: 84;
    -fx-font-weight: bold;
    -fx-underline: true;
}

#alert {
    -fx-text-fill: grey;
    -fx-font-size: 16;
}

#player-turn {
    -fx-text-fill: yellow;
    -fx-font-size: 18;
}

#new-font-label {
    -fx-font-family: 'Public Pixel';
    -fx-font-size: 16;
    -fx-text-fill: grey;
    -fx-line-spacing: 10px;
    -fx-font-weight: normal;
}

#back-button {
    -fx-background-color: transparent;
    -fx-text-fill: grey;
    -fx-font-size: 18;
}

#back-button:hover {
    -fx-background-color: grey;
    -fx-text-fill: black;
}

#back-button:pressed {
    -fx-background-color: lightgrey;
    -fx-text-fill: black;
}

#coin {
    -fx-background-color: gold;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-border-color: orange;
    -fx-border-width: 3;
    -fx-min-width: 50;
    -fx-max-height: 50;
}

#coin .label {
    -fx-font-size: 12;
}

#coin:disabled {
    -fx-opacity: 0.8;
}

#coin:disabled .label {
    -fx-opacity: 1.0;
    -fx-text-fill: wheat;
}

#image-with-border {
    -fx-border-color: white;
    -fx-border-width: 4;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}